html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #aaa;
  background-color: #000;
  text-align: center;
}

.wrapper {
  width: 800px;
  margin: 175px auto 0;
}

img {
  width: 100%;
}

p {
  margin-top: 50px;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
